name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRINTH_TOKEN }}
          project: QjLHfiSI
          version: 0.0.2
          loaders: fabric
          game-versions: |-
            1.21.6
            1.21.7
            1.21.8
            1.21.9
            1.21.10
            1.21.11
          files: target/GUIAdminUtils.zip
